@value font-weight from '../../css/vars.module.css';
@value font-size from '../../css/vars.module.css';

.statistics {
  width: 500px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-weight: font-weight;
}

.statList {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.item {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.label {
  font-size: font-size;
  margin-bottom: 10px;
}

.percentage {
}
